.bidHeader__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.header_style_bid {
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}