.tender__body {
    min-height: 40vh;
    min-width: 60vw;
    background-color: antiquewhite;

    border-radius: 10px;
    backdrop-filter: blur(60px);
    background: linear-gradient(136deg, rgba(238, 238, 238, 0.50) 0%, rgba(87, 97, 242, 0.50) 89.58%);
    filter: blur(0px);
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.tender_left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 1rem;
    justify-content: space-between;
}

.tender_right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 1rem;
}

.tender_right_body {
    margin-top: 1rem;
    height: 20rem;
    background-color: white;
    border-radius: 10px;
    color: var(--color-boxShadow);

    
}

.id_list {
    display: flex;
    align-items: center;
}

.id_val {
    background-color: var(--color-boxShadow);
    padding: 20px 30px;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    border-radius: 10px;

}


.title_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_val {
    background-color: var(--color-boxShadow);
    padding: 20px 30px;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    border-radius: 10px;
    width: 10rem;

}

.date_list {
    display: flex;
    
    flex-direction: column;
}

.date_val {
    background-color: var(--color-boxShadow);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;

}
.date_key
{
    margin-bottom: 1rem;
}
.third_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first_list {
    display: flex;
    justify-content: space-between;
}